@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@font-face {
    font-family: 'king_arthur_legendregular';
    src: url('../fonts/king_arthur_legend-webfont.eot');
    src: url('../fonts/king_arthur_legend-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/king_arthur_legend-webfont.woff2') format('woff2'),
         url('../fonts/king_arthur_legend-webfont.woff') format('woff'),
         url('../fonts/king_arthur_legend-webfont.ttf') format('truetype'),
         url('../fonts/king_arthur_legend-webfont.svg#king_arthur_legendregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.pg-logo {
  font-family: 'king_arthur_legendregular' !important;
}

.header-container {
  width: 100%;
  height: 778px;
  border-left: none;
  border-right: none;
  position: relative ;
}

.quotebox {
  width: 100%;
  height: 452px;
  border-left: none;
  border-right: none;
  position: relative ;
}

.imglayer {
  position:absolute;
  top: 0px;
  left: 0px;
}

#imga
{
z-index: 20;
}
#imgb
{
z-index: 10;
height: 550px;
}


.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header-cover {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  overflow: hidden;
}

.header-cover img {
  position: relative;
  width: 100%;
}

video {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.px-intro {
  font-family: 'king_arthur_legendregular' !important;
  color: #FFF !important;
  text-transform: none;
}

.px-codex {
  font-family: 'king_arthur_legendregular' !important;
  color: #363636 !important;
  text-transform: none;
}

.px-white {
  font-family: 'Open Sans', sans-serif !important;
  color: #FFF !important;
  text-transform: none;
}

.px-black {
  font-family: 'Open Sans', sans-serif !important;
  color: #363636 !important;
  text-transform: none;
}

.bg-px-brown {
  background-color: #2a130e !important;
  padding-bottom: 50px;
}
